TELEGRAM_BOT_TOKEN="SUTITUYE POR EL TUYO"
TELEGRAM_ALLOWED_USER_IDS="SUTITUYE POR EL TUYO"
GEMINI_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
POSTGREST_URL="http://localhost:3000"
POSTGREST_ANON_KEY="SUTITUYE POR EL TUYO"
