TELEGRAM_BOT_TOKEN="8633362054:AAGIkCBzT6Tzhao-582A6ojs9jGa6zSWeNo"
TELEGRAM_ALLOWED_USER_IDS="133994080"
GEMINI_API_KEY="AIzaSyDmTbZC4DdqcL03S0a8DTb54x9A8N20mWU"
OPENROUTER_API_KEY="SUTITUYE POR EL TUYO"
OPENROUTER_MODEL="openrouter/free"
POSTGREST_URL="http://localhost:3000"
POSTGREST_ANON_KEY="SUTITUYE POR EL TUYO"
